div > div, header, footer {
  padding: 20px;
  /*background: green;*/
}



/*.container-fluid {
  height: 100%;
  margin: 0;
}*/



table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


/*.example-container {
  max-height: 800px;
  overflow: auto;
}*/

/*.content {

  height: 80%;

}*/



